<!DOCTYPE HTML>
<html ng-app="booksCart">

<head>
    <style>
    .book {
        background-color: lightgray;
        margin: 5px;
        padding: 5px;
    }
    
    .low {
        background-color: pink
    }
    
    .high {
        background-color: orange
    }
    
    .costly {
        border: 1px solid red;
    }
    
    .cart td {
        background-color: lightgray;
    }
    
    .active {
        color: blue;
    }
    
    label {
        width: 60px;
        display: inline-block;
    }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div ng-controller="bookCtrl">
        <!-- <input type="text" ng-model="message"> {{::message}} -->
        <!-- <button ng-click="showMessage()">show message</button> -->
        <div class="cart">
            <table>
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
                <tr ng-repeat="item in cart.items">
                    <td ng-bind="item.title"></td>
                    <td>{{item.qty}}</td>
                    <td>{{item.price}}</td>
                </tr>
                <tr>
                    <td colspan="2">Total Price</td>
                    <td>{{cart.totalPrice}}</td>
                </tr>
            </table>
        </div>
        <form ng-submit="addBook()">
            <div>
                <label>Title</label>
                <input type="text" ng-model="newBook.title">
            </div>
            <div>
                <label>Author</label>
                <input type="text" ng-model="newBook.author">
            </div>
            <div>
                <label>Price</label>
                <input type="text" ng-model="newBook.price">
            </div>
            <div>
                <label>Rating</label>
                <select ng-model="newBook.rating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div>
                <input type="submit" value="Add">
            </div>
        </form>
        <div ng-init="showBooks=100">
            <label>Show:</label>
            <button ng-class="{active: showBooks == 100}" ng-click="showBooks = 100">All</button>
            <button ng-class="{active: showBooks == 2}" ng-click="showBooks = 2">2</button>
            <button ng-class="{active: showBooks == 3}" ng-click="showBooks = 3">3</button>
        </div>
        <div>
            <label>Sort by:</label>
            <button ng-class="{active: sortOrder == 'title'}" ng-click="sortOrder = 'title'">Title</button>
            <button ng-class="{active: sortOrder == 'price'}" ng-click="sortOrder = 'price'">price &uarr;</button>
            <button ng-class="{active: sortOrder == '-price'}" ng-click="sortOrder = '-price'">price &darr;</button>
        </div>
        <div ng-repeat="book in books | limitTo:showBooks | orderBy:sortOrder" class="book" ng-show="book.rating > 1" ng-class="{low: book.rating < 3, high: book.rating >= 3, costly: book.price >= 50}">
            <div><b>{{book.title | uppercase | limitTo:20}}</b></div>
            <div><i>{{book.author | lowercase}}</i></div>
            <div>{{book.rating}}</div>
            <div>{{book.price | currency:'&#8377;'}}</div>
            <div>
                <button ng-click="rateUp(book)">&uarr;</button>
                <button ng-click="rateDown(book)">&darr;</button>
                <button ng-click="addToCart(book)">add to cart</button>
            </div>
        </div>
    </div>
</body>

</html>
