<form name="addBookForm" ng-submit="addBook()" novalidate>
    <div>
        <label>Title</label>
        <input type="text" name="title" ng-model="newBook.title" required minlength="4">
        <span ng-show="addBookForm.$dirty && addBookForm.title.$error.required">Required</span>
        <span ng-show="addBookForm.$dirty && addBookForm.title.$error.minlength">Min 4 chars</span>
    </div>
    <div>
        <label>Author</label>
        <input type="text" name="author" ng-model="newBook.author" required>
        <span ng-show="addBookForm.$dirty && addBookForm.author.$error.required">Required</span>
    </div>
    <div>
        <label>Price</label>
        <input type="text" name="price" ng-model="newBook.price" required>
        <span ng-show="addBookForm.$dirty && addBookForm.price.$error.required">Required</span>
    </div>
    <div>
        <label>Rating</label>
        <select ng-model="newBook.rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Add" ng-disabled="addBookForm.$invalid">
    </div>
</form>
dirty: {{addBookForm.$dirty}}
<br>
<br> {{addBookForm.title.$error}}
<br> {{addBookForm.author.$valid}}
<br>
