 <!-- <input type="text" ng-model="message"> {{::message}} -->
        <!-- <button ng-click="showMessage()">show message</button> -->
        <div class="cart">
            <table>
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
                <tr ng-repeat="item in cart.items">
                    <td ng-bind="item.title"></td>
                    <td>{{item.qty}}</td>
                    <td>{{item.price}}</td>
                </tr>
                <tr>
                    <td colspan="2">Total Price</td>
                    <td>{{cart.totalPrice}}</td>
                </tr>
            </table>
        </div>
        
        <div ng-init="showBooks=100">
            <label>Show:</label>
            <button ng-class="{active: showBooks == 100}" ng-click="showBooks = 100">All</button>
            <button ng-class="{active: showBooks == 2}" ng-click="showBooks = 2">2</button>
            <button ng-class="{active: showBooks == 3}" ng-click="showBooks = 3">3</button>
        </div>
        <div>
            <label>Sort by:</label>
            <button ng-class="{active: sortOrder == 'title'}" ng-click="sortOrder = 'title'">Title</button>
            <button ng-class="{active: sortOrder == 'price'}" ng-click="sortOrder = 'price'">price &uarr;</button>
            <button ng-class="{active: sortOrder == '-price'}" ng-click="sortOrder = '-price'">price &darr;</button>
        </div>
        <div>
            <label>Filter:</label>
            <input type="text" ng-model="filterText">
        </div>
        <div>
            <label>Object:</label>
            <input type="text" ng-model="filterObj.title" placeholder="title">
            <input type="text" ng-model="filterObj.author" placeholder="author">
        </div>
        <div>
            <label>Function:</label>
            <button ng-click="functionFilter=highRated" ng-class="{active: functionFilter==highRated}">high rated</button>
            <button ng-click="functionFilter=costly" ng-class="{active: functionFilter==costly}">costly</button>
            <button ng-click="functionFilter=all" ng-class="{active: functionFilter==all}">all</button>
        </div>

        <div ng-repeat="book in books | limitTo:showBooks | orderBy:sortOrder | filter:filterText | filter:filterObj | filter: functionFilter track by $index" class="book" ng-show="book.rating > 1" ng-class="{low: book.rating < 3, high: book.rating >= 3, costly: book.price >= 50}">
            <div><b>{{book.title| titlecase | limitTo:20}}</b></div>
            <div><i>{{book.author | lowercase}}</i></div>
            <div>{{book.rating}}</div>
            <div><span star-widget></span></div>
            <div>{{book.price | currency:'&#8377;'}}</div>
            <div>
                <button ng-click="rateUp(book)">&uarr;</button>
                <button ng-click="rateDown(book)">&darr;</button>
                <button ng-click="addToCart(book)">add to cart</button>
            </div>
        </div>